#c, #c2 {
  border: 5px solid red;
  /* height: 34px; */
  /* width: 50px; */
}

#c2 {
  border-color: blue;
}

html, body {
  height: 100%;
}

body {
  background-color: antiquewhite;
  display: grid;
  place-items: center;
}