:root {
  /* must be in ms */
  /* how much time in a measure */
  --animation-duration: 7400ms;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Grinchiest";
  background-color: maroon;
}

#upload,
#audio {
  display: none;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  text-align: center;
  /* display: none; */
  animation-direction: alternate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.hero.animate {
  animation-name: hover;
}

h1 {
  position: relative;
  font-size: 20vw;
  margin: 0;
  transform: rotate(-15deg) scale(1.5, 1);
  color: beige;
  text-shadow: 4px 0px black, -8px -8px black, 0px 4px black;
}

h1::before,
h2::before {
  font-family: "shadow";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15, 1);
  width: 100%;
}

h1::before {
  color: #b97b28;
  text-shadow: 4px 4px 8px black, -4px -4px 8px black;
}

h1:first-child::before {
  content: "Say";
}
h1:last-child::before {
  content: "So";
}

.title {
  display: flex;
  justify-content: space-between;
  width: 130%;
  transform: translateX(-20%);
}

@keyframes hover {
  to {
    transform: translate(-50%, -50%) scale(0.975);
    /* transform-origin: center; */
  }
}

h2 {
  position: relative;
  color: beige;
  font-size: 5vw;
  margin: 0;
}

h2::before {
  color: black;
}

h2:first-child::before {
  content: "Doja Cat";
}

h2:last-child::before {
  content: "Nicki Minaj";
}

@font-face {
  font-family: "Grinchiest";
  src: url("fonts/Ginchiest.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Shadow";
  src: url("fonts/GinchiestShadow.ttf") format("truetype");
  font-display: block;
}
