html {
  background-color: #FFD8dc;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 1px solid red;
}

.ofelia {
  width: 76px;
  height: 88px;
  object-fit: cover;
  object-position: left center;
  right: 180px;
}

body {
  position: relative;
  height: 512px;
  width: 512px;
  border: double 48px darkcyan;
  background-image: url(./assets/background.png);
  background-clip: content-box;
  background-size: auto 100%;
  background-position-y: bottom;
  background-position-x: 0px;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
img {
  margin: 0px;
  padding: 1px;
  position: absolute;
}
.demon {
  transform: scaleX(-1);
  left: -50px;
  bottom: 10px;
  background-color: transparent;
}
.ghost {
  width: 460px;
}
.hound {
  width: 160px;
  left: 72px;
  bottom: 0;
}
.skull {
  width: 64px;
  bottom: 96px;
  left: 200px;
}