@font-face {
  font-family: 'Tomorrow';
  src: url('fonts/1997.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Tomorrow;
}

body {
  background: url(https://assets.codepen.io/3862739/The_Great_Wave_off_Kanagawa.jpg);
  /* background: rgb(40, 40, 40); */
}

#wave,
#gradient {
  visibility: hidden;
  display: none;
}
#canvas {
  box-sizing: border-box;

}