@font-face {
  font-family: "Tomorrow";
  src: url("fonts/1997.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellow: rgb(221, 206, 3);
  --blue: rgb(1, 187, 235);
  --red: rgb(224, 73, 141);
  --wave: url("https://assets.codepen.io/3862739/The_Great_Wave_off_Kanagawa.jpg")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: Tomorrow;
  background-image: var(--wave);
  background-repeat: no-repeat;
}

main {
  backdrop-filter: blur(10px);
  background-image: linear-gradient(rgba(219, 166, 166, 0.5),
      rgba(0, 0, 172, 0.75));
  display: grid;
  place-items: center;
}

#wave,
#gradient {
  visibility: hidden;
  display: none;
}

#canvas {
  display: block;
  box-sizing: border-box;
  background-image: var(--wave);
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: 2560px 1440px;
  margin: auto;
  border: 24px solid;
  border-image-source: linear-gradient(to right,
      var(--red),
      var(--yellow),
      var(--blue));
  border-image-slice: 1;
  border-width: 24px;
  border-image-outset: 24px;
  box-shadow: -12px 12px 28px 28px rgba(224, 73, 141, 0.25),
    12px -2px 28px 28px rgba(1, 187, 235, 0.25),
    0px -12px 28px 28px rgba(221, 206, 3, 0.25);
}