<h1>Doodle Club</h1>
<ul>
    <li><a href="/doodle-club/costume">Costume</a></li>
    <li><a href="/doodle-club/medusa">Medusa</a></li>
    <li><a href="/doodle-club/superpower">Superpower</a></li>
    <li><a href="/doodle-club/superpower-2-invis">Superpower pr 2: Invisibility</a></li>
</ul>