---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <!-- <script src="libraries/p5.min.js"></script> -->
    <!-- <script src="libraries/p5.sound.min.js"></script> -->
    <title>Is There Someone Else?</title>
  </head>

  <body id="body">
    <input type="file" id="upload" />
    <audio id="audio"> </audio>

    <section id="hero" class="hero"></section>
    <!-- <script src="sketch.js"></script> -->
  </body>
</html>
